@font-face {
    font-family: Cuprum;
    src: url(../fonts/Cuprum-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

:root {
    --theme_green: #44C697;
    --theme_darkblue: #1E2E36;
    background-color: #dddddd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
li,
ol,
ul,
button,
body {
    margin: 0;
    padding: 0;
}

li,
ol {
    list-style: none;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

button {
    border: 0;
    border-radius: 3px;
    background-color: inherit;
    text-transform: uppercase;
}

.button_independent {
    padding: 14px 46px;
    border-radius: 3px;
    background-color: var(--theme_green);
    color: white;
    text-transform: uppercase;
}

body,
button,
a,
input {
    font-family: ProximaNova, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: var(--theme_darkblue);
}

body {
    margin: 0 auto;
    position: relative;
    width: min(100%, 1920px);
    background-color: #fff;
    z-index: -10;
}

.decor-bird {
    padding-left: 10px;
}

.decor-header-theme {
    margin: 100px auto 50px;
    width: max-content;
    font-size: 48px;
}

.decor-header-theme::before {
    content: "";
    position: relative;
    left: 15px;
    display: inline-block;
    width: 20px;
    height: 50px;
    vertical-align: sub;
    background-color: var(--theme_green);
    z-index: -1;
    color:black;
}

.active-point::after,
a.bottom_line::after,
.bottom_line a::after,
span.bottom_line::after,
.bottom_line span::after {
    content: "";
    display: block;
    height: 3px;
    /* width: min(100%, 275px); */
    width: 100%;
    background-color: var(--theme_green);
}

.bottom_line-short::after {
    content: "";
    display: block;
    height: 3px;
    width: min(100%, 275px);
    background-color: var(--theme_green);
}

.close {
    height: 0;
    overflow: hidden;
}

.text-green {
    color: var(--theme_green)
}


header {
    padding: 0 50px;
    background-color: white;
}

header:first-child {
    border-bottom: 1px solid #1e2e3699
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-top {
    display: flex;
    padding: 18px 0;
}

.header-contacts {
    display: flex;
    align-items: center;
}

.header-contacts .message li {
    display: inline;
    margin-left: 13px;
}

.header-contacts .message li:nth-child(n + 2) {
    margin-left: 30px;
}

.header-top .number_to_call {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.header-top .number_to_call .number {
    padding-left: 5px;
}

.header-navigation {
    margin-left: auto;
}

.header-navigation>ul {
    display: flex;
}

.header-navigation li {
    margin-left: 15px;
    text-transform: uppercase;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}

.header-catalog>ul {
    display: flex;
}

.header-catalog li:nth-child(n+2) {
    margin-left: 20px;
}

.header-catalog button {
    background-color: inherit;
}

.header-catalog .decor-bird {
    vertical-align: 1px;
    padding-left: 7px;
}

.full-logo {
    display: flex;
    align-items: center;
}

.full-logo span {
    margin-left: 15px;
    font-size: 36px;
}

.full-logo span::first-letter {
    color: var(--theme_green);
}

.header-bottom>.wrapper {
    display: flex;
    align-items: center;
}

.header-basket {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header-basket span {
    margin-left: 5px;
    text-transform: uppercase;
}

/*---Section_1---*/

#main {
    position: relative;
    height: 785px;
}

.main-background {
    height: 785px;
    overflow: hidden;
}

.main-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.main-hanging_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50px;
    padding: 100px 75px;
    width: 465px;
    box-sizing: border-box;
    background-color: white;
    border-left: 15px solid var(--theme_green);
}

.main-hanging_card h3 {
    font-size: 64px;
}

.main-hanging_card h4 {
    margin-top: 50px;
    font-size: 36px;
    text-align: center;
}

.main-hanging_card h4+p {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.main-hanging_card .button_independent {
    margin-top: 30px;
}

.main-hanging_card .card-navigation {
    /* display:flex;
    flex-direction: column; */
    margin-top: 50px;
}

.main-hanging_card .navigation_info {
    font-size: 24px;
}

.main-hanging_card .navigation_info :first-child {
    font-size: 36px;
}

.main-hanging_card .card-navigation .navigation_buttons {
    display: flex;
    justify-content: space-between;
    margin: 5px auto 0;
    width: 68px;
}

.main-hanging_card .card-navigation button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: inherit;
}

.main-hanging_card button:first-child {
    margin-right: 8px;
}

#advantages {
    margin: 0 50px;
}

.advantages-carousel {
    position: relative;
}

.carousel-ribbon {
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* background-color: green; */
}

.advantages-carousel .catousel-card {
    position: relative;
    height: 350px;
    background-color: red;
    cursor: pointer;
}

.catousel-card .float_content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

.catousel-card .float_content h4 {
    font-size: 36px;
    width: max-content;
}

.catousel-card .float_content p {
    margin-top: 15px;
    font-weight: 400;
}

.carousel button.back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 15px;
}

.carousel button.next {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 15px;
}

/*----Section categories----*/
#categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories-pentograms {
    margin: 60px 160px 0;
    display: flex;
    justify-content: space-between;
}

.categories-pentograms button {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.categories-pentograms span {
    margin-top: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

.categories-catalog {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 85px 50px 0;
}

.categories-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 586px;
}

.categories-card>img {
    height: 300px;
}

.categories-card:hover {
    cursor: pointer;
}

.categories-card .card-price {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 24px;
    text-transform: uppercase;
}

.categories-card:hover .card-price {
    background-color: var(--theme_green);
}

.categories-card:hover .card-price span,
.categories-card:hover .card-price s {
    color: white;
}

.card.new::before {
    content: "новинка";
    position: absolute;
    top: 10px;
    padding: 5px 15px;
    text-transform: uppercase;
    color: white;
    background-color: #1E2E36;
}

.card.bestseller::before {
    content: "хіт продаж";
    position: absolute;
    top: 10px;
    padding: 5px 15px;
    text-transform: uppercase;
    color: white;
    background-color: #1E2E36;
}

.card.promotion::after {
    content: "акція";
    position: absolute;
    top: 48px;
    padding: 5px 15px;
    text-transform: uppercase;
    color: white;
    background-color: red;
}

.coust_promotion {
    color: red;
}

.coust_promotion s {
    font-size: 18px;
    color: #BCBDBB;
}

#categories>.button_independent {
    margin: 50px auto 0;
}

/*----Section About us----*/
#about_us {
    position: relative;
}

#about_us>.wrapper {
    position: relative;
    height: 675px;
}

#about_us img {
    display: block;
    margin-left: auto;
}

#about_us article {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: auto 0;
    width: 710px;
    padding: 50px 30px 50px 50px;
    border-right: 15px solid var(--theme_green);
    background-color: white;
}

/*---Section order_consultation--*/
#order_consultation {
    position: relative;
}

#order_consultation>.wrapper {
    position: relative;
    height: 675px;
}

#order_consultation img {
    display: block;
    margin-right: auto;
}

.order_consultation-block {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: auto 0;
    width: 515px;
    box-sizing: border-box;
    padding: 50px 30px 50px 50px;
    border-left: 15px solid var(--theme_green);
    background-color: white;
}

.order_consultation-block h4 {
    font-size: 36px;
}

.order_consultation-block form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.order_consultation-block form ::placeholder {
    padding: 0 15px;
    font-weight: 400;
}

.order_consultation-block input {
    box-sizing: border-box;
    height: 50px;
    border: 1px solid var(--theme_darkblue);
    border-radius: 3px;
}

.order_consultation-block input:nth-child(n+2) {
    margin-top: 15px;
}

.order_consultation-block input[type="submit"] {
    border: 0;
}

.order_consultation-block p {
    margin-top: 30px;
    font-weight: 400;
    width: 400px;
}

/*---footer---*/
footer {
    position: relative;
    display: flex;
    margin-top: 110px;
    height: 520px;
}

.footer-left {
    flex-shrink: 0;
    padding: 0 0 15px 50px;
    width: 830px;
    box-sizing: border-box;
    background-color: var(--theme_darkblue);
    display: grid;
    grid-column-gap: 90px;
    grid-template-areas:
        "logo logo"
        "nav info"
        "copyright web-studio";
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content 1fr max-content;
    align-items: start;
}

footer .full-logo {
    grid-area: logo;
    margin-top: 50px;
    margin-bottom: 50px;
    color:white
}

.footer-left>.wrapper {
    display: flex;
}

.footer-left>.wrapper li:nth-child(n +2) {
    margin-top: 15px;
}

.footer-left a {
    color: white;
    text-transform: uppercase;
}

.footer-left>.wrapper a::before {
    content: "— ";
    color: var(--theme_green);
    text-transform: uppercase;
}

.footer-left .site-nav {
    margin-left: 50px;
}

.footer-info {
    font-weight: 400;
    color: white;
}

.footer-info .graphics {
    margin-top: 15px;
}

.footer-info .phone-contact {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
}

.footer-info .phone-contact .wrap {
    display: inline-block;
}

.footer-info .messages-block {
    margin-top: 30px;
}

.footer-info .messages {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.footer-info .messages li:nth-child(n +2) {
    margin-left: 30px;
}

footer .copyright,
footer .web-studio {
    font-family: Cuprum;
    font-size: 14px;
    color: white;
    font-weight: 400;
}

footer .copyright {
    align-self: end;
    grid-area: copyright;
}

footer .web-studio {
    text-transform: uppercase;
}

.footer-right {
}

.footer-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


#arrowUp{
    position: absolute;
    top:4700px;
    left:36px;
}